body{
    margin: 0;
    background-color: #171616;
}

.navbar{
    background-image: url(klssija2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-bottom: 20px solid#223D6E;
    background-size: cover;
    padding: 10px 20px;
    margin: 0  ;
    filter: brightness();
}

h1, h2, h3 {
  color:#00fff2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 100px;
  box-shadow: 10px 10px 10px solid white;
  text-shadow: 0 0 40px #00CED1, 0 0 50px #00CED1, 0 0 80px #00CED1;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00CED1, 0 0 50px #00CED1, 0 0 80px #00CED1;
  }
  to {
    text-shadow: 0 0 20px #00FFFF, 0 0 100px #00FFFF, 0 0 120px #00FFFF;
  }
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(2, 2, 87);
    margin-top: 100px;
}
.card{
     background-color: rgb(255, 255, 255);
     padding: 20px;
     border-radius: 20px;
     border: 3px solid rgb(0, 0, 0);
     box-shadow: 8px 16px 16px 16px rgb(0, 0, 0);
     text-align: center;
     max-width: 320px;
     width: 100%;
     height: auto;
     margin:50px;
}
.card img{
  border: 3px solid rgb(2, 2, 87);
  border-radius: 20px;
  box-shadow: 6px 6px 6px #171616;
}
.card:hover{
     background-color: rgb(255, 255, 255);
     padding: 30px;
     border-radius: 20px;
     border: 3px solid rgb(0, 0, 0);
     box-shadow: 16px 26px 26px 30px rgb(0, 0, 0);
     text-align: center;
     max-width: 300px;
     width: 100%;
     transition: 1s;
     animation: shake 0.5s;
}
@keyframes shake{
    0%{transform: translateX(0);}
    25%{transform: translateX(5px);}
    50%{transform: translateX(-5px);}
    75%{transform: translateX(5px);}
    100%{transform: translateX(-5px);}
}
